<div ng-show="authenticated" class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"> <span style="margin-left:18px">  WebCrawlerLite</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/220px-Crystal_Project_web.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <!-- <span>Welcome...</span>
                <h2>Go click stuff</h2> -->
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Add Listeners / Submit Queries</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="">Dashboard</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="menu_section">   
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" ng-click="controller.logout()">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars" style="margin-bottom:14px"></i></a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    User: {{controller.displayName}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a >Help</a></li>
                    <li><a ng-click="controller.logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
              </ul>            
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
          
          <div class="x_panel">
                  <div class="x_title">
                    <h2>Listeners<small>add alerts below </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <form class="form-horizontal form-label-left">               
                      <div class="form-group">
                       
                        <div class="col-md-9 col-sm-9 col-xs-12">

                            <div class="form-group">
                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">Area</label>
                        		<div class="col-md-9 col-sm-9 col-xs-12">
                          			<select id="area" class="select2_group form-control"> <!-- removed form-control class -->
                              			<option value="chc">City of Chicago</option>
                              			<option value="nch">North Chicagoland</option>
                              			<option value="wcl">West Chicagoland</option>
                              			<option value="sox">South Chicagoland</option>
                              			<option value="nwi">Northwest Indiana</option>
                              			<option value="nwc">Northwest Suburbs</option>
                          			</select>
                        		</div>
                      	</div>

                          <div class="form-group">
                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">Search Input</label>
                       			<div class="col-md-9 col-sm-9 col-xs-12">
                          		<input id="query" type="text" class="form-control" placeholder="Enter Query">
                        		</div>
                      		</div>
                          
                           <div class="form-group">
                        	<label class="control-label col-md-3 col-sm-3 col-xs-12">Email Address</label>
                       			<div class="col-md-9 col-sm-9 col-xs-12">
                          		<input id="notifyAddress" type="text" class="form-control" placeholder="Enter Notify Email">
                        		</div>
                      		</div>
                          
                          
                       
                        </div>
                      </div>


                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-4">
                          <button type="reset" class="btn btn-primary">Reset</button>
                          <button id="alertForm" type="button" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
          
           <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Submitted Listeners</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
 
                    <div class="table-responsive">
                      <table id="alertsTable" class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">Area </th>
                            <th class="column-title">Submission Time</th>
                            <th class="column-title">Listener Duration (minutes)</th>
                            <th class="column-title">Query</th>
                            <th class="column-title">Notify Address</th>
                            <th id = "statusButton"class="column-title">Status</th>
                            
                            <!-- <th class="column-title no-link last"><span class="nobr">Action</span> -->
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"></span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                            <th class="bulk-actions glyphicon glyphicon-trash" id="deleteAlertsTableHeader"></th>
                          </tr>
                        </thead>

                        <tbody id="tableBody">     
                        </tbody>  
                      </table>
                    </div>
                  </div>
                </div>
              </div>
           </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div> <!-- end main_container -->
<div  ng-show="!authenticated"> </div>
<script src="../build/js/custom.js"></script>