<div class="alert alert-danger" ng-show="controller.error">There
	was a problem logging in. Please try again.</div>

<body class="login">

	<div>
		<a class="hiddenanchor" id="signup"></a> <a class="hiddenanchor"
			id="signin"></a>

		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">

					<h1>WebCrawler Lite</h1>

					<form role="form" ng-submit="controller.login()">

						<div class="form-group">
							<label for="username">Username:</label> <input type="text"
								class="form-control" id="username" name="username"
								ng-model="controller.credentials.username" />
						</div>
						<div class="form-group">
							<label for="password">Password:</label> <input type="password"
								class="form-control" id="password" name="password"
								ng-model="controller.credentials.password" />
						</div>
						<div>
							<!-- <a class="btn btn-default submit" href="index.html">Log in</a> -->
							<button type="submit" class="btn btn-primary">Submit</button>
							<a class="reset_pass" href="#">Lost your password?</a>
						</div>
					</form>

					<div class="clearfix"></div>

					<div class="separator">
						<p class="change_link">
							New to site? <a href="#signup" class="to_register"> Create
								Account </a>
						</p>

						<div class="clearfix"></div>
						<br />

						<div>
							<h1>
								<i class="fa fa-paw"></i> Gentelella Alela!
							</h1>
							<p>©2016 All Rights Reserved. Gentelella Alela! is a
								Bootstrap 3 template. Privacy and Terms</p>
						</div>
					</div>

				</section>
			</div>

			<div id="register" class="animate form registration_form">
				<section class="login_content">
					<form>
						<h1>Create Account</h1>
						<div>
							<input type="text" class="form-control" placeholder="Username"
								required="" />
						</div>
						<div>
							<input type="email" class="form-control" placeholder="Email"
								required="" />
						</div>
						<div>
							<input type="password" class="form-control"
								placeholder="Password" required="" />
						</div>
						<div>
							<a class="btn btn-default submit" href="index.html">Submit</a>
						</div>

						<div class="clearfix"></div>

						<div class="separator">
							<p class="change_link">
								Already a member ? <a href="#signin" class="to_register">
									Log in </a>
							</p>

							<div class="clearfix"></div>
							<br />

							<div>
								<h1>
									<i class="fa fa-paw"></i> Gentelella Alela!
								</h1>
								<p>©2016 All Rights Reserved. Gentelella Alela! is a
									Bootstrap 3 template. Privacy and Terms</p>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
</body>