<div class="alert alert-danger" ng-show="controller.error">
	Username already exists. Please try again.
</div>

<div class="alert alert-success" ng-show="controller.registrationSuccess">
	Welcome to the site! Your username is {{controller.credentials.username}}
</div>

<div ng-show="!authenticated">

<body class="login">

  <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_middle">
                <h3>New Account Creation</h3>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <form name="form" role = "form" class="form-horizontal form-label-left" ng-submit="controller.registerNewUser()" novalidate>

                      <span class="section">Personal Info</span>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Username <span class="required"></span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          	<input 
                          	id="name" 
                          	class="form-control col-md-7 col-xs-12" 
                          	name="name" 
                          	required="required" 
                          	type="text" 
                          	placeholder="at least 3 characters"
                            ng-minlength="3"                        
                         	ng-model="controller.credentials.username"
                         	>
                        </div>
                      </div>

                     <div class="item form-group">
                        <label for="password" class="control-label col-md-3">Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input 
                          id="password" 
                          type="password" 
                          name="password" 
                          class="form-control col-md-7 col-xs-12" 
                          required="required" 
                          placeholder="at least 6 characters"
                          ng-minlength="6" 
                          
                          ng-model="controller.credentials.password"
                          >
                        </div>
                      </div>
                      
                      <div class="item form-group">
                        <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          
                          <input 
                          id="password2" 
                          type="password" 
                          name="password2" 
                          class="form-control col-md-7 col-xs-12" 
                          required="required"
                                ng-model="controller.credentials.password2"                
                          >
                        </div>
                      </div>
                      
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                         
                            <button id="send" type="submit" ng-disabled="!form.name.$valid || !form.password.$valid || controller.credentials.password2 !== controller.credentials.password" class="btn btn-success">Submit</button>
                            
                            
                        </div>
                      </div>
                    </form>  
                    
                    <div class="clearfix"></div>

						<div class="separator">

							<p class="change_link">
								<a href="#/login" class="to_register"> Login Page </a>
							</p>

							<div class="clearfix"></div>
						<br />

						</div>                 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>    

                           
	<!-- <div>
		<a class="hiddenanchor" id="signup"></a> <a class="hiddenanchor"
			id="signin"></a>

			<div class="login_wrapper">
				<div class="animate form login_form">
					<section class="login_content">

						<h1>NEW ACCOUNT</h1>
											
											BEGIN FORM
						<form role="form" ng-submit="controller.registerNewUser()">

							<div class="item form-group">
								<label for="username">Username:</label> <input type="text"
									class="form-control" id="name" name="name" required="required"
									ng-model="controller.credentials.username" />
							</div>
							<div class=" item form-group">
								<label for="password">Password:</label> <input type="password"
									class="form-control" id="password" name="password"
									required="required" ng-model="controller.credentials.password" />
							</div>

							<button id="send" type="submit" class="btn btn-success">Submit</button>
						</form>
											END FORM

						<div class="clearfix"></div>

						<div class="separator">

							<p class="change_link">
								<a href="#/login" class="to_register"> Login Page </a>
							</p>

							<div class="clearfix"></div>
						<br />

						</div>
					</section>
				</div>


			</div>
		</div>  -->
	
</body>

</div>
