.wrapper {
	text-align: center;
	margin-top: 100px;
}

.newCSSClass {
	background-color: AliceBlue;
}

.makeMeInline {
	display: inline-block;
}

.amazonForm {
	margin-top: 10px;
	background-color: #ffd7b5;
}