.wrapper {
	text-align: center;
	/*margin-top: 100px;*/
}

.makeMeInline {
	display: inline-block;
}

.amazonForm {
	margin-top: 10px;
	background-color: #ffd7b5;
}

.iconCss{
	height: 5px;
	
	
	
}

body, html {
   border: 0;
   padding: 0;
   margin: 0;
}